*.log
/.vs/LunaSkye-Core/CopilotIndices
/.vs/LunaSkye-Core/FileContentIndex
/.vs/LunaSkye-Core/v17
/.env
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/ESI-Interface/token.json
/Legacy Code/LunaSkye-Core.pyproj
/Legacy Code/LunaSkye-Core.pyproj.user
/Legacy Code/LunaSkye-Core.sln
