*.log*
/.env
/modules/esi/token.json
*.db*
*.pyc
/temp*
/venv*
/.venv/*
modules/esi/runtime_cache.txt
.vscode/launch.json
launch.bat
modules/webapps/fit_import_calc/Fitting_Tests/*.txt
.claude/settings.local.json
