*.log*
/.env
/modules/esi/token.json
*.db*
*.pyc
/temp
/.venv
/modules/esi/runtime_cache.txt
/.vscode/launch.json
/launch.bat
/modules/webapps/fit_import_calc/Fitting_Tests/*.txt
/.vs
/LunaSkye-Core.sln
/LunaSkye-Core.pyproj
/LunaSkye-Core.pyproj.user
/launch-FittingCalculator.bat
/launch-ImportCalculator.bat
/launch-IndustryDashboard.bat
