body {
    background-color: dimgray;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th, td {
    border: 1px solid #f2f2f257;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f257;
}

textarea {
    width: 100%;
    height: 200px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
}
